*{
    margin: 0;
    padding: 0;
}

body{
    background: #00aeff;
    text-align: center;
}

section{
    margin: 100px auto;
}

section img{
    border-radius: 500px;
    white-space: normal;
    border: 10px solid #fff;
}

p{
    word-spacing: 10px;
}